.dotweek {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    padding: 0 0 138px 0;
}

.dotweek__bg {
    width: 1275px;
    height: 594px;
    border-radius: 377px 0px 0px 377px;
    background: #F6F6F6;
    display: flex;
    align-items: center;
}

.dotweek__bgTwo {
    width: 523px;
    height: 523px;
    border-radius: 523px;
    background: #FFF;
    box-shadow: 0px 0px 34px 4px rgba(86, 86, 86, 0.10);
    margin: 0 0 0 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dotweek__bg__info {
    width: 436px;
    height: 410px;
    margin: 0 0 0 104px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.dotweek__bg__info__ttl {
    width: 204px;
    height: 38px;
    background: #8096BC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dotweek__bg__info__ttl p {
    color: #FFF;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
}

.dotweek__bg__info__price p {
    color: #3A3A3A;
    font-size: 45px;
    font-family: Federo;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.9px;
}

.dotweek__bg__info__price p span {
    color: rgba(120, 162, 202, 1);
}

.dotweek__bg__info__price {
    margin: 41px 0 0 0;
}

.dotweek__bg__info__txt {
    margin: 28px 0 0 0;
    width: 413px;
    height: 74px;
    text-align: left;
}

.dotweek__bg__info__txt p {
    color: #727272;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 300;
    line-height: 26px;
}

.dotweek__bg__info__btn {
    margin: 36px 0 0 0;
    width: 122px;
    height: 38px;
    background: #434343;
    color: #FFF;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    letter-spacing: -0.56px;
}

.dotweek__bg__info__productsRow {
    width: 436px;
    display: flex;
    justify-content: space-between;
}